* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background: linear-gradient(135deg, #788085, #000000);

}

.container {
  width: 300px;
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: rgba(111, 159, 200, 0.676);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.container .icon-wrapper{
width: 100%;
display: flex;
align-items: center;
justify-content: start;
}

.container .icon-wrapper i{
font-size: 2em;
color: rgb(227, 221, 39);
}
.container .time-wrapper{
display: flex;
align-items: center;
justify-content: start;
gap: 10px;
color: #000;
}
.container .time-wrapper p{
font-size: 0.9em;
font-weight: 520;
background: linear-gradient(120deg, rgb(10, 10, 10), rgb(104, 102, 102));
color: transparent;
background-clip: text
}

.container .date-time-details{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: #000000;
}

.container h2{
  font-size: 2em;
  font-weight: 510;
  border-radius: 4%;
  box-shadow: 0 4px 20px rgba(84, 171, 215, 0.2);
  transition: all ease-in 0.2s;
  cursor: pointer;
}

